:root {
    --primary-color:#8693AB;
    --second-color:#BDD4E7;
    --third-color:#212227;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto';
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color)
}

form {
    width: 50%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 0;
}

div.row:last-of-type {
    justify-content: center;
}

label {
    color:#fff;
    font-size: 18px;
    transition: .5s;
    cursor: text;
}

.input-box {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    height: 80px;
    width: 48%;
}

.input-box input {
    background: var(--second-color);
    color:var(--third-color);
    border:0;
    outline: none;
    border-radius: 5px;
    width: 100%;
    height:8px;
    font-size: 1.2em;
    transition: .5s;
    padding-left:15px
}

input.button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 0;
    display: flex;
    justify-content: center;
    background-color: var(--third-color);
    color: #fff;
    border: 0;
    border-radius: 10px;
}

.input-box input:focus,
.input-box input:valid{
    height:100%;
}


input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 94, 0) inset;
}


/* #paragraph-name, #paragraph-cep{
    color: red;
    font-size: 18px;
    padding-bottom: 5px;
} */

@media screen and (max-width:768px) {
    .form-name {
        width: 80%;
    }

    .form-adress {
        width: 80%;
        margin: 40px auto;
    }
}

@media screen and (max-width:500px) {
    .form-name {
        width: 95%;
    }

    .form-adress {
        width: 95%;
        margin: 40px auto;
    }
}

@media screen and (max-width:350px) {
    input.cep, input.uf, input.city, input.street {
        width: 100%;
    }
}
